{% extends 'layouts/base.html' %}

{% block title %}Learn{% endblock %}
{% block heading %}<h3>About</h3>{% endblock %}

{% block body %}
  <p>
    Coin Logic was developed and is currently maintained by Nicholas Williams, Carter King, and Jaimin Patel.
    The goal of this platform is for inexperienced, as well as seasoned investors to be able to analyze the holdings and
    investing patterns of some of the most popular investment managers in the world.
  </p>
  <p>
    </p>
  <hr/>

  <h3>What is a 13F?</h3>
  <p>
    The 13F is a quarterly report mandated by the U.S. Securities and Exchange Commission.
    The report is required for those institutional investment managers with over one-hundred million dollars of assets under their management.
  <p>
    Common institutional investment managers include hedge funds, investment advisors, pension funds, and mutual funds.
    Some notorious investment managers include the likes of Warren Buffet, Ray Dalio, and George Soros.
  </p>
  <p>
    Within the 13F reports includes holding details such as the assets owned, the shares owned, and the market value of these shares.
    All 13F filings are made available to the public and are held in the SEC’s own database, known as EDGAR.
  </p>
  <p>
    Data that is held in these filings is incredibly valuable as it can give an investor an idea in what stocks and industries the top investment managers are focusing on.
    There is certainly value in understanding what the best are investing in for one’s own personal investment.
  </p>
  <p>
    This begs the question, why have you never heard of these filings before?
    Although these filings are publicly available, they are often difficult to access, are visually cumbersome to read and make sense of, and laborious to gain insight in holdings over time.
    Our goal is to make the knowledge that can be gained from 13Fs more accessible to the public, specifically the regular investor.
  </p>

  <hr/>

  <h3>What to be aware of when analyzing a 13F </h3>
  <p>
    Investing is a rather selfish game. Every investor is looking for an advantage to enter the market at the most opportune time.
    They will do everything in their power to limit the information provided on their investments and investment strategies.
  </p>
    The user of our product must know that the 13F filings do not provide a completely accurate representation of a company’s holdings.
    For example, the user must know that 13F’s are submitted four times a year, thus the day-trading, the buying and selling of stocks on a short-term basis, that a company is involved with will not be represented in a 13F.
    <p>
    Also, there is a forty-five day window after the quarter that a company has to complete this filing.
    Being a selfish game, many investors will wait until the last second to file the report.
    Thus, the holdings are not an accurate representation of the company’s current holdings.
    </p>
    <p>
    Knowing this, which we hope our user will after viewing this informational page, it is better for users to view this product as one to gain insight on long-term trading trends.
    It’s beneficial to view what sectors a firm focuses on, as well as those companies they hold for long durations of time, over multiple 13F filings.
    </p>

  <hr/>



  <small class="text-muted">Last updated April 29th 2020</small>
{% endblock %}
