{% extends 'layouts/app.html' %}

{% block title %}About{% endblock %}
{% block heading %}<h2>About</h2>{% endblock %}

{% block body %}
    <p>
      Insert Text
    </p>

    <hr/>

    <h3>Insert subtitle</h3>
    <p>
      Insert Text
    </p>
    <p>
      Insert Text (can add more paragraph tags if needed)
    </p>

    <hr/>

    <h3>Insert subtitle</h3>
    <p>
      Insert Text
    </p>

    <hr/>


    <small class="text-muted">Updated: 4/27/14, Author: Nick Williams </small>
{% endblock %}
